services:
  postgres:
    image: postgres:16
    container_name: postgres-keycloak
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: ${KC_DB_PASSWORD}
    volumes:
      - postgres-keycloak-data:/var/lib/postgresql/data
    ports:
      - '3998:5432'
    networks:
      - msa-network

  keycloak:
    image: quay.io/keycloak/keycloak
    container_name: keycloak
    restart: unless-stopped
    environment:
      # 개발용 관리자 계정 (dev 모드에서 편리)
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      # DB 설정
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-keycloak:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}

      #HTTPS 비활성화(HTTP 허용)
      KC_HOSTNAME_STRICT_HTTPS: "false"

      # Optional: 호스트명/포워딩 설정 (리버스 프록시 뒤에 둘 경우)
      KC_HOSTNAME_STRICT: "false"
      KC_PROXY_HEADERS: xforwarded
      PROXY_ADDRESS_FORWARDING: "true"
      KEYCLOAK_FRONTEND_URL: https://keycloak.code-factory.co.kr
    command:
      - start-dev
    ports:
      - '8900:8080' # 컨테이너 안:8080, 브라우저:http://<EC2_IP>:8900
    depends_on:
      - postgres
    volumes:
      - keycloak-data:/opt/keycloak/data
      # realm 자동 임포트용 (선택)
      # - ./import/realms:/opt/keycloak/data/import
    networks:
      - msa-network

volumes:
  postgres-keycloak-data:
  keycloak-data:

networks:
  msa-network:
    external: true
